body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    float: right;
    height: 50px;
    width: 80%;
    font-size: 140%;
    position: fixed;
    right: 0;
    z-index: 1;
    background-color: rgb(230, 230, 230);
}

header p {
    margin-top: 8px;
    animation: marquee 60s linear infinite;
    white-space: nowrap;
    overflow: visible;
}

@keyframes marquee {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-500%);}
}

header p:hover {
    animation-play-state: paused;
}

h2 {
    color: red;
    text-align: center;
    padding-top: 50px;
}

aside {
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: 2;
    font-size: 95%;
    background-color: rgb(0, 112, 200);
}

aside h5 {
    color: white;
    font-weight: bolder;
    margin-top: 60px;
    padding-left: 5px;
    padding-bottom: 10px;
}

aside ul {
    padding-left: 20px;
    overflow-y: hidden;
}

aside ul li {
    list-style-type: none;
    margin: 10px 5px;
}

aside ul li a {
    text-decoration: none;
    color: wheat;
}

aside ul li a:hover {
    font-weight: bold;
    color: wheat;
    text-decoration: none;
}

nav {
    font-size: 15px;
    padding-top: 80px;
    color: grey;
}

img.symbol_image {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 15px;
}

div#content {
    float: right;
    width: 75%;
    margin: 0 15px 20px auto;
}

div.routeinfo {
    float: left;
    margin: 20px 20px 20px 35px;
    width: 50%;
    font-size: 16px;
    text-align: justify;
}

img.image {
    max-width: 45%;
    height: auto;
    float: right;
    padding-top: 5vh;
    display: block;
}

.stops {
    font-weight: bolder;
    padding: 15px;
    font-size: 12.5pt;
}

p.lotrinh {
    text-align: justify; 
    padding-bottom: 20px;
    padding-top: 20px;
}

div div button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: inline-block;
    font-size: large;
    font-weight: bolder;    
    border: none;
}

tr {
    border-bottom: 1.5px solid gray;
}

div div table {    
    border-collapse: collapse;
}

.table td {
    vertical-align: middle;
}

thead th {
    border-bottom: 1.8px solid black;
    padding: 1.5px;
    vertical-align: middle;
    border-top: none;
    font-size: 17px;
    text-align: center;
}

.playbutton {
    display: block;
    width: 25%; 
    height: auto; 
    margin: auto;
    cursor: pointer;
}

.stt {
    text-align: center;
    vertical-align: middle;
}

.stoplist {
    display: block;
    clear: both;
    margin: 10px;
}

.return {
    display: none;
}

#departbutt {
    background-color: darkgray;
}

#returnbutt {
    background-color: lightgray;
}

footer {
    float: right;
    background-color: rgb(230, 230, 230);
    height: 40px;
    width: 80%;
    margin: auto 0 10px 20%;
    margin-left: 20%;
}

footer p {
    color: gray;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 14px;
}
